* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    /* overflow: scroll; */
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
}

p {
    font-weight: 500;
    color: rgb(102, 93, 93);
}

h6 {
    color: rgb(102, 91, 91);
}

/* Header */
header {
    background-color: rgb(51, 41, 65);
    display: flex;
    height: 3rem;
    align-items: center;
    padding: 0 2rem;
}

header .div1 {
    width: 50%;
    display: flex;
}

header button {
    padding: 0 1rem;
    border: none;
    background: local;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .div2 {
    color: white;
    width: 50%;
    text-align: end;
    margin: 0.5rem;
}

header i {
    margin: 0.5rem;
}

/* Nav */
nav {
    height: 5rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    justify-content: space-between;
}

.nav_div1 {
    display: flex;
    align-items: center;
    margin: 0 1rem;
    color: orangered;
    font-size: 1.5rem;
    text-shadow: 1px 1px 2px orangered;
}

.nav_div1 i {
    font-size: 2rem;
}

.nav_div2 {
    text-align: center;
}

ul {
    list-style-type: none;
}

nav li {
    display: inline;
    padding: 1rem;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-shadow: 0.1px 0.1px 1px black;
}

.nav_div3 button {
    background-color: orangered;
    text-shadow: 0.1px 0.1px 1px white;
    color: white;
    border: none;
    padding: 1rem 2rem;
    margin: 1rem;
    font-weight: 600;
    box-shadow: 2px 2px 2px red;
}
/* Drop down */
.nav-mobail{
    display: none;
}
.dropdown{
    display: inline;
    position: relative;  
    z-index: 2;
}
.dropbtn{
    font-size: 1rem;
}
.dropdown_content{
    display: none;  
    position: absolute;
    width: 10rem;
    padding: 1rem 0.5rem;
    margin: 0rem -24rem;
    /* background-color: rgb(80, 83, 83); */
}
.dropdown_content span{
    display:flex;
    flex-direction: row;

}
.dropdown_content a{
    text-decoration: none;
    padding:0rem  0.7rem;
    width: 10rem;
    color: rgb(37, 39, 39);
}
.dropdown:hover .dropdown_content{
    display: inline;
    cursor: pointer;
}

/* Animation */
.animation_div {
    height: 3rem;
    width: 100vw;
    padding: 1rem;
    color: orangered;
    position: absolute;
    overflow: scroll;
}

.animation_div span {
    position: relative;
    animation-name: truck;
    animation-delay: 0.1s;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.animation_div i {
    margin: 0 2rem;
    font-size: 1.5rem;
}

@keyframes truck {
    from {
        left: -1%;
    }

    to {
        left: 102%;
    }
}
/* Main */
main{
    overflow: scroll;
}
/* Section 1 */
section>p,
.p1 {
    color: orangered;
    text-shadow: 1px 1px 2px orangered;
    margin: 1rem 0 0.5rem 0;
    font-weight: 600;
    font-size: 1.2rem;
}

section>h2,
.h2 {
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 1px 1px 2px black;
    margin: 0.5rem 0 1rem 0;
}

.section1 {
    background-image: url("img/header.jpg");
    background-size: 100% 100%;
    height: 100vh;
    color: white;
}

.section1 div {
    background-color: rgb(0, 0, 0, 0.85);
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 h2 {
    color: orangered;
    text-shadow: 1px 1px 2px orangered;
    font-size: 3rem;
}

.section1 h1 {
    font-size: 4.5rem;
    margin: 0.5rem 0;
    font-weight: 800;
    text-shadow: 1px 1px 3px white;
}

.section1 span {
    display: flex;
    padding: 1rem;
    justify-content: center;
}

.section1 input {
    padding: 1.15rem;
    width: 20rem;
    height: 2rem;
    border: none;
}

.section1 button {
    text-align: center;
    height: 2.3rem;
    padding: 0 2rem;
    background-color: orangered;
    color: white;
    border: none;
    outline: none;
    text-shadow: 0.1px 0.1px 1px white;
}

/* Section 2 */
.section2 {
    height: 110vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.sect2_div1 {
    height: 80%;
    width: 40%;

}

.sect2_div1 img {
    width: 100%;
    height: 80%;
    margin-bottom: -0.5rem;
}

.sect2_div1 h2 {
    background-color: orangered;
    padding: 2rem;
    text-align: center;
    font-weight: 800;
}

.sect2_div2 {
    height: 80%;
    width: 50%;
    padding: 2rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect2_div2 p {
    margin: 2rem 0;
}

.sect2_div2 span {
    display: flex;
    margin: 2rem 0;
    align-items: center;
}

.sect2_div2 i {
    background-color: orangered;
    padding: 0.7rem;
    border-radius: 50%;
    margin: 0.5rem;
}

.sect2_div2 span p {
    color: black;
    text-shadow: 0.1px 0.1px 1px black;
}

/* Section 3 */
.section3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-color: rgba(255, 192, 203, 0.25);
}

.sect3_div1 {
    width: 55%;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 2rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect3_div1 div {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 1rem 0;
}

.sect3_div1 div h2 {
    color: orangered;
    text-shadow: 1px 1px 2px orangered;
    font-size: 2rem;
    font-weight: 700;
}

.sect3_div1 div p {
    color: black;
    text-shadow: 0.1px 0.1px 1px black;
}

.sect3_div2 {
    background-color: orangered;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect3_div2 input {
    margin: 0.5rem;
    width: 70%;
    height: 2rem;
    padding: 0 auto;
    text-align: center;
    border: 0;
    box-shadow: inset 1px 1px 10px 1px black;
}

::placeholder {
    color: black;
}

.sect3_div2 button {
    margin: 0.5rem;
    width: 70%;
    height: 2rem;
    border: none;
    box-shadow: inset 1px 1px 10px 1px black;
}

/* Section 4 */
.section4 {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem auto;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
    padding: 1rem;
}

.sect4_box,
.sect4-tab {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.sect4-tab div {
    margin: 1rem;
    padding: 1rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);

}

.sect4_box button {
    border: none;
    margin: 1rem auto;
    color: orangered;
    padding: 0.5rem 1rem;
    background: local;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.75);
}

.sect4_box .btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: orangered;
    box-shadow: 1px 1px 5px 2px orangered;
    color: white;
    text-shadow: 0.2px 0.2px 0.4px white;
}

.sect4_box i {
    color: black;
    font-size: 1.5rem;
    margin: 0.5rem;
}

/* Section 5 */
.section5 {
    width: 90%;
    margin: auto;
    height: 100Vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect5_div1 {
    height: 90%;
    width: 40%;
}

.sect5_div1 img {
    height: 100%;
    width: 100%;
}

.sect5_div2 {
    height: 90%;
    width: 60%;
    padding: 2rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect5_div2 ul {
    margin: 1.5rem 0;
}

.sect5_div2 li {
    margin: 1rem 0;
}

.sect5_div2 i {
    color: orangered;
    margin: 0 1rem 0 0;
}

.sect5_div2 button {
    background-color: orangered;
    color: white;
    border: none;
    padding: 0.5rem 2rem;
    box-shadow: 0.5px 0.5px 5px 2px orangered;
}

/* Section 6 */
.section6 {
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect6_box {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}

.sect6_box div {
    background-color: aqua;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect6_box div h2 {
    margin: 1rem;
    font-size: 2.5rem;
    text-shadow: 1px 1px 1px black;
}

.sect6_box div h2 sup {
    font-size: small;
    color: white;
    font-weight: 700;
    text-shadow: none;
}

.sect6_box div h2 span {
    font-size: small;
    color: white;
    font-weight: 700;
    text-shadow: none;
}

.sect6_box div h3 {
    margin: 1rem 0;
    background-color: orangered;
    width: 100%;
    text-align: center;
    padding: 1rem;
    text-shadow: 1px 1px 2px black;
}

.sect6_box div h6 {
    margin: 0.5rem;
}

.sect6_box div button {
    margin: 1.5rem 0;
    border: none;
    padding: 0.5rem 1.5rem;
    background-color: orangered;
    color: white;
    text-shadow: 0.5px 0.5px 1px white;
    box-shadow: 0.5px 0.5px 5px 1px orangered;
}

/* Section 7 */
.section7 {
    width: 90%;
    text-align: center;
    margin: 2rem auto;
    padding: 2rem 0.5rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect7_box {
    margin: 2rem auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    gap: 2rem;
}

.sect7_box div {
    width: 13rem;
    height: 20rem;
    background-color: aqua;
    border-radius: 10px;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.sect7_box img {
    height: 15rem;
    width: 100%;
}

.sect7_box p {
    color: black;
    margin: 0.5rem 0;
}

/* Section 8 */
.section8 {
    text-align: center;
    width: 90%;
    margin: auto;
}

.sect8_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;

}

.sect8-box span>p {
    color: black;
}

.sect8-box {
    margin: 1.5rem;
    background-color: rgba(127, 255, 212, 0.226);
    padding: 1.5rem;
}

.sect8-box div {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.sect8-box img {
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    margin-right: 2rem;
}

.section8 i {
    color: orangered;
    float: right;
    margin: -2rem -1.5rem 0 0;
    font-size: 2.5rem;
}

.box-1,
.box-2,
.box-3 {
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.box-1,
.box-3 {
    opacity: 0.3;
}

/* Section 9 */
.section9 {
    width: 90%;
    height: auto;
    margin: auto;
    text-align: center;
}

.sect9-conatainer {
    display: flex;
    text-align: left;
}

.section9 .box {
    margin: 1rem;
}

.section9 .box1-img {
    height: 22rem;
    background-image: url("img/blog-1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.section9 .box2-img {
    height: 22rem;
    background-image: url("img/blog-2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.img {
    box-shadow: inset 2px 2px 15px 5px rgba(0, 0, 0, 0.75);
}

.box-text {
    height: 24rem;
    padding: 1.5rem 2rem;
    box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
}

.text-head {
    display: flex;
    align-items: center;
    padding: 1rem 0;
}

.text-head img {
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
}

.text-head p {
    margin: 0rem 2rem 0 0.5rem;
}

.text-body p {
    padding: 1rem 1rem 1rem 0;
}

.text-body button {
    padding: 0.5rem 1rem;
    text-align: center;
}

.text-body i {
    margin: -0.1rem 0.5rem;
}

/* Section 10 */
.section10 {
    width: 100%;
    background-color: rgb(1, 1, 34);
    color: grey;
    padding: 2rem;
    margin-top: 2rem;
}

.sect10-box1 {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    margin-bottom: 3rem;
    height: auto;
}

.s10-box h2 {
    padding: 1rem 0;
}

.s10-box p {
    padding: 1rem 0;
}

.s10-box i {
    padding-right: 0.5rem;
}

.s10-box div i {
    padding-right: 1rem;
}

.s10-box li {
    padding: 0.5rem 0;
}

.social {
    padding: 1rem 0;
}

.s10-box input {
    padding: 0.5rem;
    border: none;
    width: 70%;
    border: none;
}

.s10-box button {
    background-color: orangered;
    border: none;
    padding: 0.5rem;
    color: white;
    width: 25%;
}

.s10-box {
    width: 100%;
}

.sect10-box2 {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    width: 90%;
    margin: auto;
}

.sect10-box2 ul {
    list-style: none;
}

.sect10-box2 li {
    display: inline;
    padding: 0.5rem;
}

button:hover {
    cursor: pointer;
}

/* Tablet */
@media screen and (max-width:768px) {
    .nav_div1 {
        text-align: center;
    }
    .sect2_div2{
        overflow: scroll;
    }
    .sect2_div1 h2 {
        padding: 1rem;
    }

    .section4 {
        height: auto;
    }

    .sect4_box {
        flex-wrap: wrap;
    }
    .sect5_div2{
        overflow: scroll;
    }
    .sect6_box{
        gap: 1rem;
    }
    .sect6_box div{
        text-align: center;
    }
    .sect7_box {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .sect7_box div {
        width: 45%;
    }

    .sect8-box {
        margin: 0.5rem;
    }
    .box-text{
        height: auto;
    }
}

/* Mobail */
@media screen and (max-width:425px) {
    .nav-mobail{
        display: block;
    }
    .nav-menu {
        display: block;
    }

    .nav_div2 {
        display: none;
    }

    .nav_div3 {
        display: none;
    }

    header .div1 span {
        display: none;
    }

    .section1 h2 {
        font-size: 2rem;
    }

    .section1 h1 {
        text-align: center;
    }

    .section1 div span {
        flex-direction: column;
    }

    .section1 div span input {
        margin: 1rem 0;
        text-align: center;
    }

    .section2 {
        margin-top: 2rem;
        width: 90%;
        box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
        padding: 2rem 0;
    }

    .section2 {
        flex-direction: column;
        height: auto;
    }

    .sect2_div1 {
        width: 90%;
        height: 100%;
        /* margin: 2rem 0; */
    }

    .sect2_div2 {
        width: 90%;
        box-shadow: none;
    }

    .sect2_div2 p {
        text-align: left;
    }

    .section3 {
        flex-direction: column;
        height: auto;
        box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
        width: 90%;
        margin: 2rem auto;
        padding: 1rem 0;

    }

    .sect3_div1,
    .sect3_div2 {
        width: 90%;
        padding: 1rem;
        margin: 1rem 0;
    }

    .sect3_div1 p {
        text-align: left;
    }

    .sect4-tab {
        flex-direction: column;
    }

    .section5 {
        flex-direction: column;
        height: auto;
        padding: 2rem;
        margin: 2rem auto;
        box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
    }

    .sect5_div1,
    .sect5_div2 {
        width: 100%;
        box-shadow: none;
    }

    .sect5_div2 p {
        text-align: left;
    }

    .section6>h2,
    p {
        text-align: center;
    }

    .sect6_box {
        flex-direction: column; 
    }

    .sect6_box div {
        width: 100%;
        margin: 1rem 0;
    }

    .sect7_box div {
        width: 90%;
    }

    .section8 {
        padding: 1rem;
        box-shadow: inset 2px 2px 10px 5px rgba(0, 0, 0, 0.75);
    }
    .box-1,
.box-3 {
    opacity: 1;
}
    .sect8-box {
        width: 90%;
        margin: 1rem auto;
    }

    .sect8_container {
        flex-direction: column;
    }

    .section9 {
        width: 100%;
    }

    .sect9-conatainer {
        flex-direction: column;
    }

    .sect10-box1,
    .sect10-box2 {
        flex-direction: column;
        text-align: center;
    }
}